* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

body {
  font-family: "Orbitron", sans-serif;
  background-color: #f5f9fc;
  color: #111;
  line-height: 1.6;
}

.section_header header,
.section_footer footer {
  background-color: #d6eaff;
  text-align: center;
  padding: 15px;
}

main {
  padding: 20px;
}

.info {
  padding-bottom: 20px;
  text-align: center;
}

.info_contacts {
  margin-bottom: 20px;
}

.main_info {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 60%;
  margin: 0 auto 30px auto;
}

th,
td {
  border: 1px solid #333;
  padding: 8px;
  text-align: center;
  background-color: #fff;
}

th {
  background-color: #c0e6ff;
}

.main_info-images {
  margin-top: 20px;
  text-align: center;
}

.img_local {
  width: 200px;
  height: 150px;
}

.img_icon {
  width: 200px;
  height: 150px;
}

.info_list {
  max-width: 500px;
  margin: 30px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  list-style: square;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.img_author {
  width: 250px;
  border-radius: 10px;
}

.nav_back {
  text-align: center;
  margin: 20px 0;
}
